html {
  margin: 0;
}

body {
  margin: 0;
}

.desktop-layer {
  display: none;
  width: 100%;
  height: 72vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-content {
  display: none;
  position: absolute;
  top: 20%;
  left: 14%;
}

.desktop-logo-title {
  margin-left: 20px;
  color: #7150E7;
  font-size: 45px;
  font-family: 'AppleNeoB';
}

.desktop-sub-title {
  font-family: 'BMjua';
  font-size: 64px;
}

.desktop-content-footer {
  font-family: 'AppleNeoM';
  font-size: 22px;
}

.purple-text {
  font-family: 'BMjua';
  color: #7150E7;
}

.mobile-head-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;height: 100vh;
  background: linear-gradient(149deg, rgba(184, 131, 224, 0.6),rgba(141, 93, 223, .065),rgba(114, 79, 231, .065),  rgba(255, 255, 255, 0.1564));
}

.desktop-head-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(149deg, rgba(184, 131, 224, 0.6),rgba(141, 93, 223, .065),rgba(114, 79, 231, .065),  rgba(255, 255, 255, 0.1564));
}

.head-section-text {
  font-family: 'AppleNeoB';
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%);
  color: #7352e7;
  font-size: 30px;
}

.back-move {
  cursor: pointer;
  position: absolute;
  top: 54px;
  left: 36px;
}

.container {
<<<<<<< HEAD
<<<<<<< HEAD
  max-width: 700px;
=======
  max-width: 480px;
  box-shadow: 0px 6px 6px #00000029;
>>>>>>> 5df088d12288be1fa2cb7a646519a2c1a13cbd93
=======
  max-width: 480px;
  box-shadow: 0px 6px 6px #00000029;
>>>>>>> 56e69b9fc77970643d8d0e4158daf67be123f27a
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  display: none;
  z-index: 20;
  max-width: 700px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .7);
}

.modal-content {
   width: 300px;
   height: 180px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: #efefef;
   border-radius: 16px;
}

.modal-head {
  font-family: 'AppleNeoB';
  font-size: 19.5px;
  padding : 10px;
  margin : 20px 32px 6px 15px;
  height : 26px;
  
}
.modal-center {
  font-family: 'AppleNeoM';
  font-size: 15.5px;
  height : 61px;
  border-bottom: solid 0.5px #cfcfcf;
  
}
.modal-confirm {

  font-family: 'AppleNeoB';
  font-size: 17.5px;
  height : 46px;
  line-height: 46px;
}

.no{
  border-right : solid 0.5px #cfcfcf;
  width:50%; 
  float:left; 
  color: #7150E7; 
  cursor: pointer;
  height : 100%;
  line-height : 46px;
}
.yes{
  
  width:45%;
  float:right;
  color: #7150E7;
  cursor: pointer;
  height : 100%;
  line-height : 46px;
}
.check{
  
  width:50%;
  color: #7150E7;
  cursor: pointer;
  height : 100%;
  line-height : 46px;
}
.desktop-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  z-index: 12;
}

/* IPad Pro device width: 1024px */
@media (min-width: 1100px) {
  .desktop-layer {
    display: block;
  }

  .desktop-content {
    display: block;
  }

  .container {
<<<<<<< HEAD
<<<<<<< HEAD
    max-width: 600px;
=======
    max-width: 480px;
>>>>>>> 5df088d12288be1fa2cb7a646519a2c1a13cbd93
=======
    max-width: 480px;
>>>>>>> 56e69b9fc77970643d8d0e4158daf67be123f27a
    display: inline-block;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .desktop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-head-section {
    display: none;
  }

  .desktop-head-section {
    display: block !important;
    max-width: 570px;
    z-index: 10;
  }
}

.login-title {
  font-family: 'AppleNeoB';
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #8E54F8;
  margin: 20px 0;
}

.form-container {
  text-align: center;
  margin-bottom: 30px;
}

.action-button {
  font-family: 'AppleNeoM';
  text-align: center;
  background: linear-gradient(90deg, #A86BD7, #8D85DF);
  color: #efefef;
  cursor: pointer;
  margin: 6px 0;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 22px;
}


@font-face {
  font-family: 'AppleNeoB';
  src: url('../font/AppleSDGothicNeoB.ttf') format("truetype");
}

@font-face {
  font-family: 'AppleNeoL';
  src: url('../font/AppleSDGothicNeoL.ttf') format("truetype");
}

@font-face {
  font-family: 'AppleNeoM';
  src: url('../font/AppleSDGothicNeoM.ttf') format("truetype");
}

@font-face {
  font-family: 'BMjua';
  src: url('../font/BMjua.ttf') format("truetype");
}