html {
  margin: 0;
}

body {
  margin: 0;
}

.desktop-layer {
  display: none;
  width: 100%;
  height: 72vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-content {
  display: none;
  position: absolute;
  top: 20%;
  left: 14%;
}

.desktop-logo-title {
  margin-left: 20px;
  color: #7150E7;
  font-size: 45px;
  font-family: 'AppleSDGothicNeoB';
}

.desktop-sub-title {
  font-family: 'BMJUA';
  font-size: 64px;
}

.desktop-content-footer {
  font-family: 'AppleSDGothicNeoM';
  font-size: 22px;
}

.purple-text {
  color: #7150E7;
}

.desktop-head-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -36%);
  width: 100%;
  height: 240px;
  background: linear-gradient(105deg, #BD6ADF, #8D85DF);
  border-radius: 30px;
}

.head-section-text {
  font-family: 'AppleSDGothicNeoB';
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #efefef;
}

.container {
  max-width: 700px;
  display: inline-block;
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* IPad Pro device width: 1024px */
@media (min-width: 1100px) {
  .desktop-layer {
    display: block;
  }

  .desktop-content {
    display: block;
  }

  .container {
    max-width: 420px;
    display: inline-block;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .desktop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-head-section {
    display: none;
  }

  .desktop-head-section {
    display: block !important;
    max-width: 570px;
    z-index: 10;
  }
}

.all
{
    display: inline-block;
    width:195px;
    height: 50vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.head-section {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -30%);
  width: 100%;
  height: 240px;
  background: linear-gradient(105deg, #BD6ADF, #8D85DF);
  border-radius: 30px;
}

.head-section div {
  font-family: 'AppleSDGothicNeoB';
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #efefef;
}
  input {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    font-size: 20px;
    border:1px;
    border-radius:10px;
    box-shadow: 3px 3px gray;
  }
  .ask{
      position:relative;
      z-index: -1;
  }

  .participate {
      position:absolute;
      height:9.5px;
      right: 0;
      bottom: 0;      
      background-color:#ffffff;
      border-radius:28px;
      border:1px solid #8665c2;
      display:inline-block;
      cursor:pointer;
      color:#7150e7;
      font-family:Arial;
      font-size:16.5px;      
      /*padding:16px 31px;*/
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;      
      line-height: 20px;
  }
  .participate:hover {
      background-color:#7150e7;
  }
  .participate:active {
      position:absolute;
      top:1px;
  }

 

.more {
    z-index: 10;
    margin-bottom:1%;
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#a4a4a4;
	font-family:Arial;
	font-size:16.5px;
	/*padding:16px 31px;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.more:hover {
	background-color:#ffffff;
}
.more:active {
	position:relative;
	top:1px;
}

   

.newgroup {    
    text-align:left;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px dashed #7150e7;
	display:block;
	cursor:pointer;
	color:#7150e7;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	/*padding:17px 76px;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.newgroup:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
}
.newgroup:active {
	position:relative;
	top:1px;
}

.width{
    width:160px;
}

.group {    
  text-align:left;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
background-color:#ffffff;
border-radius:10px;
border:1px black;
display:block;
cursor:pointer;
color:black;
font-family:Arial;
font-size:17px;
font-weight:bold;
/*padding:17px 76px;*/
text-decoration:none;
text-shadow:0px 1px 0px #ffffff;
}
.group:hover {
background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
background-color:#ffffff;
}
.group:active {
position:relative;
top:1px;
}