  input {
    width: 100%;
    padding: 6px 10px;
    margin: 1px 0px;
    border-radius:8px;
    font-size: 17.5px;
    font-family: 'AppleNeoL';
    border:1.5px solid #919191;
  }
  .myButton {
  width: 100%;
  background-color:#7150e7;
  border-radius:42px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size: 18.5px;
  font-family: 'AppleNeoM';
  padding: 10px 10px;
  margin: 20px 0px;
  text-decoration:none;
  text-align : center;
  }

  .content_plus {
    width: 100%;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:8px;
	border:1.5px solid #7e7e7e;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size: 17.5px;
  font-family: 'AppleNeoL';
	padding: 6px 10px;
  margin: 1px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}

  .mob_container {
max-width: 700px;
display: inline-block;
width: 80%;
height: 50vh;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

.other_opinion {
  width: 100%;
  text-align:left;
	box-shadow:inset 0px 1px 0px 0px #f0edff;
	background:linear-gradient(to bottom, #f0edff 5%, #f0edff 100%);
	background-color:#f0edff;
	border-radius:8px;
	border:1.5px solid #7e7e7e;
	display:inline-block;
	cursor:pointer;
	color:#5e585e;
	font-size: 17.5px;
  font-family: 'AppleNeoL';
  padding: 6px 10px;
  margin: 1px 0px;
	text-decoration:none;
	text-shadow:0px -1px 0px #f0edff;
}

.head_name{
  font-family: 'AppleNeoB';
	font-size:19.5px;
}

.center_name{
  font-family: 'AppleNeoM';
	font-size:18.5px;
  line-height: 2.2;
}