html {
  margin: 0;
}

body {
  margin: 0;
}

.desktop-layer {
  display: none;
  width: 100%;
  height: 72vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-content {
  display: none;
  position: absolute;
  top: 20%;
  left: 14%;
}

.desktop-logo-title {
  margin-left: 20px;
  color: #7150E7;
  font-size: 45px;
  font-family: 'AppleNeoB';
}

.desktop-sub-title {
  font-family: 'BMjua';
  font-size: 64px;
}

.desktop-content-footer {
  font-family: 'AppleNeoM';
  font-size: 22px;
}

.purple-text {
  color: #7150E7;
}

.mobile-head-section {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -36%);
  width: 100%;
  height: 240px;
  background: linear-gradient(105deg, #BD6ADF, #8D85DF);
  border-radius: 30px;
}

.desktop-head-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -36%);
  width: 100%;
  height: 240px;
  background: linear-gradient(105deg, #BD6ADF, #8D85DF);
  border-radius: 30px;
}

.head-section-text {
  font-family: 'AppleNeoB';
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #efefef;
}

.container {
  max-width: 700px;
  display: inline-block;
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* IPad Pro device width: 1024px */
@media (min-width: 1400px) {
  .desktop-layer {
    display: block;
  }

  .desktop-content {
    display: block;
  }

  .container {
    max-width: 420px;
    display: inline-block;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
  }

  .desktop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-head-section {
    display: none;
  }

  .desktop-head-section {
    display: block !important;
    max-width: 570px;
    z-index: 10;
  }
}

.login-title {
  font-family: 'AppleNeoB';
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #8E54F8;
  margin: 20px 0;
}

.form-container {
  text-align: center;
  margin-bottom: 30px;
}

.action-button {
  font-family: 'AppleNeoM';
  text-align: center;
  background: linear-gradient(90deg, #A86BD7, #8D85DF);
  color: #efefef;
  margin: 6px 0;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 2px;
}


@font-face {
  font-family: 'AppleNeoB';
  src: url('../font/AppleSDGothicNeoB.ttf') format("truetype");
}

@font-face {
  font-family: 'AppleNeoL';
  src: url('../font/AppleSDGothicNeoL.ttf') format("truetype");
}

@font-face {
  font-family: 'AppleNeoM';
  src: url('../font/AppleSDGothicNeoM.ttf') format("truetype");
}

@font-face {
  font-family: 'BMjua';
  src: url('../font/BMjua.ttf') format("truetype");
}