.signup-form {
  margin-top: 160px;
  min-width: 300px;
}

.signup-form div {
  margin: 8px 0px;
}

.signup-list {
  font-family: 'AppleNeoM';
  display: inline-block;
  color: #000000;
  font-size: 18px;
  width: 40%;
}

#email-list {
  width: 26%;
}

.signup-input {
  width: 100%;
  font-size: 16px;
  padding: 0 4px;
  height: 38px;
  border: none;
  margin-top: 10px;
  border-bottom: 1pt solid #e5e4e8;
}

#email-input {
  width: 64%;
}

.submit-div {
  text-align: center;
  margin-top: 50px !important;
}

.submit-div input {
  font-family: 'AppleNeoB';
  font-size: 1em;
  color: #efefef;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background: linear-gradient(105deg, #BD6ADF, #8D85DF);
}