{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/Ajax.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block headblock %}
  {% endblock %}
</head>
<body>
  <div class="desktop-layer"></div>
  <div class="desktop-content">
    <div class="logo-container">
      <img class="logo-img" src="{% static 'images/logo.png' %}"><span class="desktop-logo-title">모의자</span><br><br><br><br>
    </div>
    <div class="desktop-sub-title">
      <span class="purple-text">모</span>두의 
      <span class="purple-text">의</span>견을 
      <span class="purple-text">자</span>유롭게
    </div><br><br><br>
    <div class="desktop-content-footer">
      <div class="desktop-content-footer-title">
        의사결정이 필요할 땐, <span style="color: #7150E7;">모의자</span>로 모이자!
      </div><br>
      <div class="desktop-content-footer2">
        회의부터 일상생활까지,<br>
        다양한 의사결정을 <span style="font-family: 'AppleNeoB';">모의자</span>에서 해결해 보세요.</span>
      </div>
      
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>