{% extends 'base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<title>모의자 - 회원가입</title>
{% endblock %}

{% block content %}
<section class="mobile-head-section">
  <div class="head-section-text">Sign up</div>
</section>
<div class="container">
  <section class="desktop-head-section">
    <div class="head-section-text">Sign up</div>
  </section>
  <div class="desktop-container">
    <form class="signup-form" action="/signup-action/" method="POST">
      {% csrf_token %}
      <div>
        <div class="signup-list">이름</div><br>
        <input class="signup-input" type="text" name="user_name" placeholder="실명을 입력하세요.">
      </div>
      <div>
        <div class="signup-list">아이디(이메일)</div><br>
        <input class="signup-input" type="text" name="user_id" placeholder="이메일 주소">
      </div>
      <div>
        <div class="signup-list">비밀번호</div><br>
        <input class="signup-input" type="password" name="user_pw">
      </div>
      <div>
        <div class="signup-list">비밀번호 확인</div><br>
        <input class="signup-input" type="password" name="user_pwck">
      </div>
      <div class="submit-div">
        <input type="submit" value="완료">
      </div>
    </form>
  </div>
</div>
{% endblock %}