
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grouppage</title>
    <link rel="stylesheet" href="../static/css/same.css">
    <link rel="stylesheet" href="../static/css/grouppagestyle.css">
    <link rel="stylesheet" href="../static/css/group-kwon.css">
    <script language="JavaSript" src="../static/js/modal.js"></script>

</head>

<body>
    <div class="desktop-layer"></div>
    <div class="desktop-content">
        <div class="logo-container">
            <img class="logo-img" src="../static/images/logo.svg"><span
                class="desktop-logo-title">모의자</span><br><br><br><br>
        </div>
        <div class="desktop-sub-title">
            <span class="purple-text">모</span>두의
            <span class="purple-text">의</span>견을
            <span class="purple-text">자</span>유롭게
        </div><br><br><br>
        <div class="desktop-content-footer">
            <div class="desktop-content-footer-title">
                의사결정이 필요할 땐, <span class="purple-text">모의자</span>로 모이자!
            </div><br>
            회의부터 일상생활까지,<br>
            다양한 의사결정을 모의자에서 해결해 보세요.
        </div>
    </div>


    <div class="container">
        <section class="desktop-head-section" style="z-index: -1;">
            <div class="head-section-text">
                <a href="../mainpage"><img src="../static/images/whitearrow.svg"></a>
                <br><br>그룹
            </div>
        </section>
    
        <div class="desktop-container">
            <!-- 여기다 내용 코딩 고고 -->
            <a href="../suggestion"><img src="../static/images/suggestbox.svg" class="box"></a>
    
            <div class="text">논의 목록</div>
            
            {% for suggestion in group_suggestion %}
            <div class="suggestion">
                {% if suggestion.id in is_g_all_answered %}
                    <a style="text-decoration: none; color: black;" href="../result/">
                {% elif suggestion.id in is_g_answered %}
                    <a style="text-decoration: none; color: black;" href="javascript:modal_on('submit-check')">
                {% else %}
                    <a style="text-decoration: none; color: black;" href="../decision/{{suggestion.id}}">
                {% endif %}       
                    {{suggestion.topic}}
                </a>
            </div>
            {% endfor %}

            <br><br>
            <div class="text">나의 발제</div>

            {% for suggestion in user_suggestion %}
            <div class="suggestion">
                {% if suggestion.id in is_u_all_answered %}
                    <a style="text-decoration: none; color: black;" href="../result/">
                {% elif suggestion.id in is_u_answered %}
                    <a style="text-decoration: none; color: black;" href="javascript:modal_on('submit-check')">
                {% else %}
                    <a style="text-decoration: none; color: black;" href="../decision/{{suggestion.id}}">
                {% endif %}       
                    {{suggestion.topic}}
                </a>
            </div>
            {% endfor %}
    
        </div>
        
        <div id="submit-check" class="modal-container">
            
            <div class="modal-content">
                <div class="modal-head">참여 완료</div>
                <div class="modal-center">
                    이미 논의에 참여했어요!
                    <br>
                    다른 사람들의 결정을 기다려 주세요.
                    <a href="#">
                        <div class="check" onclick="modal_off('submit-check')">확인</div>
                        </div>
                    </a>
            
                </div>
              
            </div>


    </div>
    
    </div>

</body>

</html>

<script>
    function ViewLayer2() {
        document.getElementById("Help2").style.display = 'inline';
    }

    function newPage() {
        window.location.href = "../grouppage"
    }
    function rmv() {
        document.getElementById("Help1").style.display = 'none';
    }
    function ViewLayer() {
        document.getElementById("Help1").style.display = 'inline';

    }
    const modal_on = (modalId) => {
        const ModalSelector = "#" + modalId;
        const ModalContainer = document.querySelector(ModalSelector);
        ModalContainer.style.display = "inline-block";
    }

    const modal_off = (modalID) => {
        const ModalSelector = "#" + modalID;
        const ModalContainer = document.querySelector(ModalSelector);
        ModalContainer.style.display = "none";
    }

</script>