
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listpage</title>
    <link rel="stylesheet" href="../static/css/same.css">
    <link rel="stylesheet" href="../static/css/listpagestyle.css">
    <script language="JavaSript" src="modal.js"></script>

</head>

<body>
    <div class="desktop-layer"></div>
    <div class="desktop-content">
        <div class="logo-container">
            <img class="logo-img" src="../static/images/logo.svg"><span
                class="desktop-logo-title">모의자</span><br><br><br><br>
        </div>
        <div class="desktop-sub-title">
            <span class="purple-text">모</span>두의
            <span class="purple-text">의</span>견을
            <span class="purple-text">자</span>유롭게
        </div><br><br><br>
        <div class="desktop-content-footer">
            <div class="desktop-content-footer-title">
                의사결정이 필요할 땐, <span class="purple-text">모의자</span>로 모이자!
            </div><br>
            회의부터 일상생활까지,<br>
            다양한 의사결정을 모의자에서 해결해 보세요.
        </div>
    </div>


    <div class="container">
        <section class="desktop-head-section">
            <div class="head-section-text">
                <a href="../mainpage"><img src="../static/images/whitearrow.svg"></a>
                <br><br>논의에 참여해주세요!</div>
        </section>
        
        <div class="desktop-container">
            <!-- 여기다 내용 코딩 고고 -->
            
            <div class="text">그룹1</div>
            <img src="../static/images/box.svg" style="position:absolute;width:100%;">
            <img src="../static/images/participate.svg"
                style="float:right;padding-top:16.5px; position:relative;padding-right:21.5px;">
            <br><br><br>
            <img src="../static/images/box.svg" style="position:absolute;width:100%;">
            <img src="../static/images/participate.svg"
                style="float:right;padding-top:16.5px; position:relative;padding-right:21.5px;">
            <br><br>
            <div class="text">그룹2</div>
            <img src="../static/images/box.svg" style="position:absolute;width:100%;">
            <img src="../static/images/participate.svg"
                style="float:right;padding-top:16.5px; position:relative;padding-right:21.5px;">

                
        </div>

    </div>

</body>

</html>