
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" href="../static/css/same.css">
    <link rel="stylesheet" href="../static/css/mainpagestyle.css">
    
    <script language="JavaSript" src="modal.js"></script>
    <script language="JavaSript" src="mainpagejs.js"></script>

</head>

<body>
    <div class="desktop-layer"></div>
    <div class="desktop-content">
        <div class="logo-container">
            <img class="logo-img" src="../static/images/logo.svg" style="height:24px"><span
                class="desktop-logo-title">모의자</span><br><br><br><br>
        </div>
        <div class="desktop-sub-title">
            <span class="purple-text">모</span>두의
            <span class="purple-text">의</span>견을
            <span class="purple-text">자</span>유롭게
        </div><br><br><br>
        <div class="desktop-content-footer">
            <div class="desktop-content-footer-title">
                의사결정이 필요할 땐, <span class="purple-text">모의자</span>로 모이자!
            </div><br>
            회의부터 일상생활까지,<br>
            다양한 의사결정을 모의자에서 해결해 보세요.
        </div>
    </div>


    <div class="container">
        <section class="desktop-head-section">
            <div class="head-section-text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/images/icon.svg">
                <br><br>모두의 의견을 들어보세요.</div>
        </section>
        
        <div class="desktop-container">
            
            <div>
                <div class="text_one">논의에 참여해주세요!
                <a href="#" class="more" style="float:right;">더보기<img src="../static/images/rightarrow.svg"></a>
            </div>
                <br><br>
                <div class="ask">
                    <div>
                        <img src="../static/images/box.svg" style="position:absolute;width:100%;padding-top:10px;">
                        <img src="../static/images/participate.svg"style="float:right;padding-top:26.5px; position:relative;padding-right:21.5px;">
                                               
                    </div>
                </div>
                <br><br><br>
                <div class="text_two">그룹</div>
                <div class="width">
                    <img src="../static/images/plus.svg" style="position:absolute;padding-left:15px;padding-top:21.5px;">
                    <img src="../static/images/newgroupbox.svg" style="position: relative;">
                    <script></script>
                </div>
                <!--<div style="border:1px dotted #8665c2; border-radius:10px;padding:10px; color:#8665c2;">새 그룹 생성</div>
        -->
                <!--<a href="#" class="myButton"><div class="new_group">새그룹 생성</div></a>-->


            </div>

        </div>

    </div>

</body>

</html>