{% extends 'base.html' %}
{% load static %}

{% block headblock %}
<title>Other Opinion</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/decision_reason.css">

<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
<script src="{% static 'js/wordCount.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
<div class=container>
  <div class=mob_container>
    <a href="#" onclick="window.history.back()"><img src="../static/images/arrow.svg" ></a>
    <p style="text-align:center; " class="head_name" >다른 의견이 무엇인지 궁금해요!</p>
    
    <a class="center_name">OO님의 생각을 들려주세요!</a>  
    <p> <textarea class="reason-content" id="reason-content" onkeyup="wordCount()" placeholder="자유롭게 작성해주세요." style="resize: none;"></textarea></p>
    
    <div class="submit-button" id="submit-button" >
      <input type="submit" value="제출" onclick="modal_on('submit-check')">
    </div>
  </div>

  <div id="submit-check" class="modal-container">
    <div class="modal-content">
      <div class="modal-head">잠깐!</div>
      <div class="modal-center">
        의견을 제출하면 수정할 수 없어요.
        <br>
        정말로 제출하시겠어요?
      </div>
      <div class = "modal-confirm"> 
        <div class = "no" onclick="modal_off('submit-check')">아니오</div>
        <div class = "yes" onclick="modal_off('submit-check')">네</div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}