<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion Page</title>
    <link rel="stylesheet" href="../static/style.css"></head>


</head>
<body>
  <div class=container>
    <p style="text-align:center; font-size : 19.5px" >무엇을 논의해 볼까요? </p>
    
    <h3>논의 주제</h3> 
    <p><input placeholder="주제를 입력해주세요"></p>
    <h3>선택 항목</h3>
    <input placeholder="항목을 입력해주세요">
    <input placeholder="항목을 입력해주세요">
      <a href="#" class="content_plus">⊕ 항목 추가</a>
    <hr> 
   
   <p> <a href="#" class="myButton">완료</a> </p>
  </div>
</body>
</html>