<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion Page</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/suggestion.css">
    <script >   
    function add_textbox(){
    document.getElementById("t_space").innerHTML +=
    "<input placeholder='항목을 입력해주세요' type='text' name='tbox' ><br>";
    }
    </script>

</head>
<body>

  <div class="desktop-layer"></div>
  <div class="desktop-content">
    <div class="logo-container">
      <img class="logo-img" src="../static/images/logo.png"><span class="desktop-logo-title">모의자</span><br><br><br><br>
    </div>
    <div class="desktop-sub-title">
      <span class="purple-text">모</span>두의 
      <span class="purple-text">의</span>견을 
      <span class="purple-text">자</span>유롭게
    </div><br><br><br>
    <div class="desktop-content-footer">
      <div class="desktop-content-footer-title">
        의사결정이 필요할 땐, <span class="purple-text">모의자</span>로 모이자!
      </div><br>
      회의부터 일상생활까지,<br>
      다양한 의사결정을 모의자에서 해결해 보세요.
    </div>
  </div>

    <div class=container>      
      <div class=mob_container>
      <a href="#" ><img src="../static/images/arrow.svg" onclick="window.history.back()"></a>
      <p style="text-align:center;" class="head_name" >무엇을 논의해 볼까요? </p>
     
      <a class="center_name">논의 주제</a> 
      <a><input placeholder="주제를 입력해주세요"></a>
      <a class="center_name">선택 항목</a>
      <input placeholder="항목을 입력해주세요">
      <input placeholder="항목을 입력해주세요">
      <div id="t_space"> </div>
        <a href="#" class="content_plus" onclick="add_textbox()" >⊕ 항목 추가</a>
      <hr> 
      <a class="other_opinion" >다른 의견이 있어요!<img  id="img1" src="../static/images/color_check.svg" onclick="clickimg()" style="float: right; margin: 4.5px 0px;" ></a>
      <script>
           function clickimg() {
        if (document.getElementById("img1").getAttribute('src')=='../static/images/color_check.svg')
        {
            document.getElementById("img1").src = '../static/images/non_color_check.svg';
        }
        else if (document.getElementById("img1").getAttribute('src') == '../static/images/non_color_check.svg')
        {
            document.getElementById("img1").src = '../static/images/color_check.svg';
        }
    }
      </script>
      <a class="other_opinion" >마음에 드는 항목이 없어요.<img id="img2" src="../static/images/color_check.svg" onclick="clickimg2()" style="float: right; margin: 4.5px 0px;"></a>
      <script>
        function clickimg2() {
     if (document.getElementById("img2").getAttribute('src')=='../static/images/color_check.svg')
     {
         document.getElementById("img2").src = '../static/images/non_color_check.svg';
     }
     else if (document.getElementById("img2").getAttribute('src') == '../static/images/non_color_check.svg')
     {
         document.getElementById("img2").src = '../static/images/color_check.svg';
     }
 }
   </script>
     <p> <a href="#" class="myButton">완료</a> </p>
    </div>

  </div>
 
</body>
</html>