{% extends 'base.html' %}
{% load static %}

{% block headblock %}
<title>Suggestion Page</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/suggestion.css">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/Ajax.js' %}"></script>
<script src="{% static 'js/suggestion.js' %}"></script>
<script>   
function add_textbox(){
document.getElementById("t_space").innerHTML +=
"<input class='options' placeholder='항목을 입력해주세요' type='text' name='tbox' ><br>";
}
</script>
{% endblock %}

{% block content %}
<div class=container>      
  <div class=mob_container>
    <a href="#" ><img src="../static/images/arrow.svg" onclick="window.history.back()"></a>
    <p style="text-align:center;" class="head_name" >무엇을 논의해 볼까요? </p>
    
    <form method="POST" action="{% url 'topic-complete' %}">
      {% csrf_token %}
      <a class="center_name">논의 주제</a> 
      <a><input type = "text" id = "content" placeholder="주제를 입력해주세요"></a>
    </form>

    <a class="center_name">선택 항목</a>
    <input class="options" placeholder="항목을 입력해주세요">
    <input class="options" placeholder="항목을 입력해주세요">
    <div id="t_space"> </div>
      <a href="#" class="content_plus" onclick="add_textbox()" >⊕ 항목 추가</a>
    <hr> 
    <a class="other_opinion" >다른 의견이 있어요!<img  id="img1" src="../static/images/color_check.svg" onclick="clickimg()" style="float: right; margin: 4.5px 0px;" ></a>
    

    <script>
      function clickimg() {
        if (document.getElementById("img1").getAttribute('src')=='../static/images/color_check.svg')
        {
          document.getElementById("img1").src = '../static/images/non_color_check.svg';
        }
        else if (document.getElementById("img1").getAttribute('src') == '../static/images/non_color_check.svg')
        {
          document.getElementById("img1").src = '../static/images/color_check.svg';
        }
      }
    </script>
    <a class="other_opinion" >마음에 드는 항목이 없어요.<img id="img2" src="../static/images/color_check.svg" onclick="clickimg2()" style="float: right; margin: 4.5px 0px;"></a>
    
    <script>
      function clickimg2() {
        if (document.getElementById("img2").getAttribute('src')=='../static/images/color_check.svg')
        {
          document.getElementById("img2").src = '../static/images/non_color_check.svg';
        }
        else if (document.getElementById("img2").getAttribute('src') == '../static/images/non_color_check.svg')
        {
          document.getElementById("img2").src = '../static/images/color_check.svg';
        }
      }
    </script>
    <p> <input onclick="createSuggestion()" class = "myButton" type = "submit" value="작성하기" > </p>
  </div>
</div>
{% endblock %}
