{% extends 'base.html' %}
{% load static %}

{% block headblock %}
<title>topic_complete Page</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/suggestion.css">
<link rel="stylesheet" href="../static/css/complete.css">
{% endblock %}

{% block content %}
<div class=container>
  <form action="action" method="post">     
    <div class=mob_container>   
      <div class="layer">     
        <img class="content" src="../static/images/complete.svg" >
        <p></p>
        <p class="content"> 논의 생성 완료 </p>
        <p style="font-size: 1px;"></p>
        <a class="content2">그룹원이 모두 논의에 참여해야</a> 
        <a class="content2">결과를 확인하실 수 있습니다.</a>
        <p></p>
        <p><a href="../decision/{{suggest_seq}}" class="myButton2">논의 참여하기</a> </p>
        <span class="blank"></span>       
      </div>  
    </div>
  </form>
</div>
{% endblock %}

